<div class = "search_container">
	<%= form_for(@search) do |s| %> 
		<form class = "book_container">
			<h3> Book </h3>
			<div class="field">
				<%= s.label :title %><br>
				<%= s.text_field :title %>
			</div>
			<div class="field">
				<%= s.label :isbn %><br>
				<%= s.text_field :isbn %>
			</div>
			<div class="field">
				<%= s.label :volume %><br>
				<%= s.text_field :volume %>
			</div>
			<div class="field">
				<%= s.label :edition %><br>
				<%= s.text_field :edition %>
			</div>
		</form>
		<form class = "author_container">
			<h3> Author </h3>
			<div class="field">
				<%= s.label :au_first %><br>
				<%= s.text_field :au_first %>
			</div>
			<div class="field">
				<%= s.label :au_last %><br>
				<%= s.text_field :au_last %>
			</div>
		</form>
		<form class = "course_container">
			<h3> Course </h3>
			<div class="field">
				<%= s.label :course %><br>
				<%= s.text_field :course %>
			</div>
			<div class="field">
				<%= s.label :department %><br>
				<%= s.text_field :department %>
			</div>
		</form>
		<div class="actions">
			<%= s.submit "Find Search" %>
		</div>
	<% end %>
</div>
