<div class="container">
	<%= form_for @book, html: {autocomplete: 'off'} do |f| %>

	<%= render 'shared/error_messages' %>

	<div class="form-inline row">
		<%= f.fields_for :post do |p| %>
			<div class="input-group col-sm-1, col-xs-2">
				<%= p.text_field :price, placeholder: '$', class: "form-control invisible_input dynamic_size" %>
			</div>
			<div class="input-group col-sm-10, col-xs-5">
				<%= f.text_field :title, placeholder: 'Tilte', class: "form-control invisible_input dynamic_size" %>
			</div>

			<div class="input-group col-sm-1, col-xs-2">
				<%= f.text_field :volume, placeholder: 'Vol.', class: "form-control invisible_input" %>
			</div>
			<div class="input-group col-sm-1, col-xs-2">
				<%= f.text_field :edition, placeholder: 'Ed.', class: "form-control invisible_input"  %>
			</div>

		<% end %>
	</div>

	<%= f.hidden_field :user_account_id, :value => current_user_account.id %>

	<div id="authors" class="dynamic_inputs">
		<%= f.fields_for :authors do |a| %>
			<%= render 'author_fields', :f => a %>
		<% end %>
	</div>
	
	<p><%= link_to_add_fields "Add Author", f, :authors %></p>


	<%= f.fields_for :post do |p| %>
		<div class="form-group row">
			<%= p.text_area :description, placeholder: 'Add a description here (must be longer than 15 characters).', id: "description", class: "form-control input_description dynamic_height" %>
		</div>
	<% end %>

	<div id="courses" class="dynamic_inputs">
		<%= f.fields_for :courses do |c| %>
			<%= render 'course_fields', :f => c %>
		<% end %>			
	</div>

	<p><%= link_to_add_fields "Add Course", f, :courses %></p>
		
	<%= f.submit 'Submit', class: "btn btn-block btn-default" %>

	<% end %>
</div>

