<div class="container">
	<%= search_form_for @search do |f| %>
		<fieldset>
			<legend>Book</legend>
			<%= f.label :title_or_authors_au_fname_or_authors_au_lname_or_courses_department_cont, "Search" %>
			<%= f.text_field :title_or_authors_au_fname_or_authors_au_lname_or_courses_department_cont %>
			<%=f.submit%>
		</fieldset>		
	<%end%>
	<%= paginate @books %>
	<%= render 'results' %>
</div>
