<%= javascript_include_tag 'http://code.jquery.com/jquery-1.4.2.min.js' %>
<%= content_tag :p, display_query_sql(@results) if false %>
<%= page_entries_info @results %>
<div id="results" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<table class='table table-hover'>
		<thead>
			<%= content_tag(:th, sort_link(@search, :title, {}), class: 'col-lg-4') %>
			<%= content_tag(:th, sort_link(@search, :authors_au_fname, 'Authors', class: 'col-lg-4')) %>
			<%= content_tag(:th, sort_link(@search, :post_price, {}), class: 'col-lg-1') %>
			<%= content_tag(:th, sort_link(@search, :created_at, "Posted"), class: 'col-lg-4') %>
		</thead>
	
		<tbody>
			<% @results.each do |book| %>
				<tr data-href="<%= book_path(book) %>">
					<%= content_tag(:td, content_tag(:a, book.send(:title), href: book_path(book)), class: 'col-lg-4') %>
					<% authors = book.authors.collect{ |author| author.au_fname + " " + author.au_lname } %>
					<% authors.sort_by!{ |b| b.downcase } %>
					<%= content_tag(:td, authors.to_s.gsub(/[^0-9A-Za-z, ]/, ''), class: 'col-lg-4') %>
					<%= content_tag(:td, book.post.price, class: 'col-lg-1') %>
					<% time = book.created_at.to_date.to_formatted_s(:long_ordinal) %>
					<%= content_tag(:td, time, class: 'col-lg-4') %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
