<% if false %>
  
<%= form_for(@post) do |f| %>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :user_account_id %><br>
    <%= f.text_field :user_account_id %>
  </div>
  <div class="field">
    <%= f.label :book_id %><br>
    <%= f.text_field :book_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% end %>

