<div class="container">
<% if current_user_account.nil?%>
  redirect_to(root_url)
<% else %>
<h1 class="text-center">New Post</h1>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-md-offset-5">
    <%= form_for(@post) do |f| %>

    <div class="field">
      <%= f.label :price %><br>
      <%= f.text_field :price %>
    </div>

    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>

    <%= f.hidden_field :user_account_id, :value => current_user_account.id %>
<% if false %>
  
    <div class="field">
      <%= f.label :user_account_id %><br>
      <%= f.text_field :user_account_id, :value => current_user_account.id %>
    </div>
<% end %>

    <div class="field">
      <%= f.label :book_id %><br>
      <%= f.text_field :book_id %>
    </div>
    <br>

    <div class="actions">
      <%= f.submit %>
    </div>
    <% end %>
    <%= link_to 'Back', posts_path %>
  </div>
    <% end %>

</div>
